<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PresuntoControleIncluir</servlet-name>
        <servlet-class>controle.PresuntoControleIncluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresuntoControleExcluir</servlet-name>
        <servlet-class>controle.PresuntoControleExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresuntoControleConsultar</servlet-name>
        <servlet-class>controle.PresuntoControleConsultar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresuntoControleAlterar</servlet-name>
        <servlet-class>controle.PresuntoControleAlterar</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>PresuntoControleIncluir</servlet-name>
        <url-pattern>/controle.presunto.incluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresuntoControleExcluir</servlet-name>
        <url-pattern>/controle.presunto.excluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresuntoControleConsultar</servlet-name>
        <url-pattern>/controle.presunto.buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresuntoControleAlterar</servlet-name>
        <url-pattern>/controle.presunto.alterar</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
